In [1]:
import pandas as pd
import nltk
import spotipy
import spotipy.util as util
import json
import numpy as np

In [3]:
key_file = 'assets/keys.json'
keys = json.load(open(key_file))

SPOTIPY_CLIENT_ID= keys["client_id"]
SPOTIPY_CLIENT_SECRET= keys["client_secret"]
SPOTIPY_REDIRECT_URI= keys["redirect_url"]

In [4]:
token = util.prompt_for_user_token("1274418332", 
                                   scope = "user-library-read", 
                                   client_id=SPOTIPY_CLIENT_ID, 
                                   client_secret=SPOTIPY_CLIENT_SECRET, 
                                   redirect_uri = SPOTIPY_REDIRECT_URI)
spotify = spotipy.Spotify(auth=token)

            User authentication requires interaction with your
            web browser. Once you enter your credentials and
            give authorization, you will be redirected to
            a url.  Paste that url you were directed to to
            complete the authorization.


Opened https://accounts.spotify.com/authorize?client_id=b29ebdb5e8ac4efaa4e1afe0da5a7e7c&response_type=code&redirect_uri=http%3A%2F%2Fgoogle.com.mx%2F&scope=user-library-read in your browser


Enter the URL you were redirected to: https://www.google.com.mx/?code=AQB1LDrOUq0LBzrDWZL_z9ipx4mmicBrf5OjU4rFqYXHDzn77v_rPI2AmmEHmz0Pb9YzxBpUSPKkUbv1e0aAyVqbl_oFgs9JjL_o9hFG-2r0bQx5Me5uDBrj3yrVaRwAHL0bMLq6qnKkYTZiDUSexllLR9ytZ1qxY2YJWNq3qqehXqQRzFlDcp4q3eqao6HNv-S-J6cq8OUN9U6QUay9eg&gws_rd=ssl

In [6]:
billboard = pd.read_csv("data/billboard_lyrics_1964-2015.csv")
billboard.head()

,Rank,Song,Artist,Year,Lyrics,Source
0,1,wooly bully,sam the sham and the pharaohs,1965,sam the sham miscellaneous wooly bully wooly b...,3.0
1,2,i cant help myself sugar pie honey bunch,four tops,1965,sugar pie honey bunch you know that i love yo...,1.0
2,3,i cant get no satisfaction,the rolling stones,1965,,1.0
3,4,you were on my mind,we five,1965,when i woke up this morning you were on my mi...,1.0
4,5,youve lost that lovin feelin,the righteous brothers,1965,you never close your eyes anymore when i kiss...,1.0

In [8]:
billboard['Query'] = 'artist: ' + billboard['Artist'] + ', track: ' + billboard['Song']

In [9]:
sixties = billboard[billboard['Year'] < 1970]
seventies = billboard[(billboard['Year'] >= 1970) & (billboard['Year'] < 1980)]
eighties = billboard[(billboard['Year'] >= 1980) & (billboard['Year'] < 1990)]
nineties = billboard[(billboard['Year'] >= 1990) & (billboard['Year'] < 2000)]
thousands = billboard[(billboard['Year'] >= 2000) & (billboard['Year'] < 2010)]
twenty_tens = billboard[(billboard['Year'] >= 2010) & (billboard['Year'] < 2020)]

In [16]:
billboard.head()

,Rank,Song,Artist,Year,Lyrics,Source,Query
0,1,wooly bully,sam the sham and the pharaohs,1965,sam the sham miscellaneous wooly bully wooly b...,3.0,"artist: sam the sham and the pharaohs, track: ..."
1,2,i cant help myself sugar pie honey bunch,four tops,1965,sugar pie honey bunch you know that i love yo...,1.0,"artist: four tops, track: i cant help myself s..."
2,3,i cant get no satisfaction,the rolling stones,1965,,1.0,"artist: the rolling stones, track: i cant get ..."
3,4,you were on my mind,we five,1965,when i woke up this morning you were on my mi...,1.0,"artist: we five, track: you were on my mind"
4,5,youve lost that lovin feelin,the righteous brothers,1965,you never close your eyes anymore when i kiss...,1.0,"artist: the righteous brothers, track: youve l..."

song_id = spotify.search("artist: kesha, track: tik tok")['tracks']['items'][0]['id']
valence = spotify.audio_features(song_id)[0]['valence']

In [56]:
valences = []
for index, row in billboard.iterrows():
    try:
        curr_song = spotify.search(row['Query'])['tracks']['items'][0]['id']
        valence = spotify.audio_features(curr_song)[0]['valence']
        valences.append(valence)
    except:
        valences.append("ERROR. INDEX: " + str(index))
    if index % 10 == 0:
        print(index)

0
10
20
30
40
50
60
70
80
90
100
retrying ...1secs
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
340
350
360
370
380
390
400
410
420
430
440
450
460
470
480
490
500
510
520
530
540
550
560
570
580
590
600
610
620
630
640
650
660
670
680
690
700
710
720
730
740
750
760
770
780
790
800
810
820
830
840
850
860
870
880
890
900
910
920
930
940
950
960
970
980
990
1000
1010
1020
1030
1040
1050
1060
1070
1080
1090
1100
1110
1120
1130
1140
1150
1160
1170
1180
1190
1200
1210
1220
1230
1240
1250
1260
1270
1280
1290
1300
1310
1320
1330
1340
1350
1360
1370
1380
1390
1400
1410
1420
1430
1440
1450
1460
1470
1480
1490
1500
1510
1520
1530
1540
1550
1560
1570
1580
1590
1600
1610
1620
1630
1640
1650
1660
1670
1680
1690
1700
1710
1720
1730
1740
1750
1760
1770
1780
1790
1800
1810
1820
1830
1840
1850
1860
1870
1880
1890
1900
1910
1920
1930
1940
1950
1960
1970
1980
1990
2000
2010
2020
2030
2040
2050
2060
2070
2080
2090
2100
2110
2120
2130
2140
2150
2160
2170
2180
2190
2200
2210
2220
2230
2240
2250
2260
2270
2280
2290
2300
2310
2320
2330
2340
2350
2360
2370
2380
2390
2400
2410
2420
2430
2440
2450
2460
2470
2480
2490
2500
2510
2520
2530
2540
2550
2560
2570
2580
2590
2600
2610
2620
2630
2640
2650
2660
2670
2680
2690
2700
2710
2720
2730
2740
2750
2760
2770
2780
2790
2800
2810
2820
2830
2840
2850
2860
2870
2880
2890
2900
2910
2920
2930
2940
2950
2960
2970
2980
2990
3000
3010
3020
3030
3040
3050
3060
3070
3080
3090
3100
3110
3120
3130
3140
3150
3160
3170
3180
3190
3200
3210
3220
3230
3240
3250
3260
3270
3280
3290
3300
3310
3320
3330
3340
3350
3360
3370
3380
3390
3400
3410
3420
3430
3440
3450
3460
3470
3480
3490
3500
3510
3520
3530
3540
3550
3560
3570
3580
3590
3600
3610
3620
3630
3640
3650
3660
3670
3680
3690
3700
3710
3720
3730
3740
3750
3760
3770
3780
3790
3800
3810
3820
3830
3840
3850
3860
3870
3880
3890
3900
3910
3920
3930
3940
3950
3960
3970
3980
3990
4000
4010
4020
4030
4040
4050
4060
4070
4080
4090
4100
4110
4120
4130
4140
4150
4160
4170
4180
4190
4200
4210
4220
4230
4240
4250
4260
4270
4280
4290
4300
4310
4320
4330
4340
4350
4360
4370
4380
4390
4400
4410
4420
4430
4440
4450
4460
4470
4480
4490
4500
4510
4520
4530
4540
4550
4560
4570
4580
4590
4600
4610
4620
4630
4640
4650
4660
4670
4680
4690
4700
4710
4720
4730
4740
4750
4760
4770
4780
4790
4800
4810
4820
4830
4840
4850
4860
4870
4880
4890
4900
4910
4920
4930
4940
4950
4960
4970
4980
4990
5000
5010
5020
5030
5040
5050
5060
5070
5080
5090

In [59]:
billboard['Valence'] = valences

In [65]:
billboard.to_csv("data/billboard_with_data.csv", index=False)
billboard.head()

,Rank,Song,Artist,Year,Lyrics,Source,Query,Valence
0,1,wooly bully,sam the sham and the pharaohs,1965,sam the sham miscellaneous wooly bully wooly b...,3.0,"artist: sam the sham and the pharaohs, track: ...",0.558
1,2,i cant help myself sugar pie honey bunch,four tops,1965,sugar pie honey bunch you know that i love yo...,1.0,"artist: four tops, track: i cant help myself s...",0.964
2,3,i cant get no satisfaction,the rolling stones,1965,,1.0,"artist: the rolling stones, track: i cant get ...",0.904
3,4,you were on my mind,we five,1965,when i woke up this morning you were on my mi...,1.0,"artist: we five, track: you were on my mind",0.7
4,5,youve lost that lovin feelin,the righteous brothers,1965,you never close your eyes anymore when i kiss...,1.0,"artist: the righteous brothers, track: youve l...",0.376